# Copie este arquivo para .env e preencha com suas credenciais reais

# Ollama
OLLAMA_URL=http://localhost:11434
MODEL=llama3.1:8b

# Postgres
DB_URL=postgresql://soc:soc123@localhost:5432/socai

# Wazuh API (consumer de alertas)
WAZUH_HOST=https://localhost:55000
WAZUH_USER=wazuh-wui
WAZUH_PASS=MyS3cr37P450r.*-
WAZUH_MIN_LEVEL=10
WAZUH_POLL_SECS=30
